

nav{
    display: flex;
    background-color: black;
    color: white;
}
nav h1{
color: gold;
font-style: italic;
width: 50%;
padding: 0 10rem;
 }

ul{
    list-style: none;
    display: flex;
    justify-content: center;
   align-items: center;
    gap: 50px;
    width: 50%;
    
}

.cards{
    display: inline-flex;
}