*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 h1{
  text-align: center;
  margin: 2rem 0;
}

.card-box{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  gap: 23px;
 
}

.cards{
  margin: 20px 40px;
}

.card-box p {
  color: red;
  text-align: center;
}